[user]
    name = "Filippo Tessarotto"
    email = zoeslam@gmail.com
    signingKey = 0xE3CF0CB782A7D5AB
[core]
    editor = vim
    whitespace = trailing-space,space-before-tab
    pager = cat
    excludesfile = ~/.gitignore
[alias]
    st = status
    co = checkout
    plog = log --graph --abbrev-commit --decorate --date=relative --all --format=tformat:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold magenta)@ %an%C(reset)%C(bold yellow)%d%C(reset)'
[color]
    diff = auto
    status = auto
    branch = auto
    ui = auto
[push]
    default = simple
[tag]
    sort = version:refname
[fetch]
    prune = true
[pull]
    rebase = false
[commit]
    gpgsign = true
